
.emptyDiv{
  width:300px;
  height: 300px;
  border: 1px solid black;
}

.deck{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.stackPile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.stackCard,.card {
    width: 129px;
    font-size: 156px;
    height: 171px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #dcfafc;
    position: relative;
    border-radius: 20px;
    margin-left: 10px;
    border: 1px solid black;
}

.stackCard{
    margin: -100px;
}

.stack{
  margin: 100px;
}